<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <title>Griela Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LayoutStyle.css')}}"/>
    {% block link %}
    {% endblock %}
</head>
<body>
    <header>
        <article class="logo-menu-container">
            <a href="/Inicio" class="logo">
                <p class="griela">Griela</p>
                <p class="test">TEST</p>
            </a>
            {% if loged %}
            <div class="user-container">
                <div class="user-data">
                    <h2>{{nombre}}</h2>
                    <h3>{{correo}}</h3>
                </div>
                <figure class="user-figure">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                </figure>
                <svg xmlns="http://www.w3.org/2000/svg" class="user-svg" height="16" width="16" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                <div class="user-menu-container">
                    <div class="user-menu">
                        <a href="/Dashboard">Dashboard</a>
                        <div class="divisor-user-menu"></div>
                        <a href="/Logout" class="logout">
                            <p>Cerrar sesión</p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg></a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="menu-login-register-container">
                <a href="/Login" class="login">Ingresar</a>
                <a href="/Register" class="register">Unirse</a>
            </div>
            {% endif %}
        </article>
    </header>
    {% block main %}
    {% endblock %}
    <footer>
        <section class="footer-content-container">
            <div class="footer-about-us">
                <div class="logo-about">
                    <p class="griela">Griela</h1>
                    <p class="test">TEST</h1>
                </div>
                <p>Nos preocupamos por la salud mental de los jóvenes y los acompañamos en su viaje hacia el bienestar emocional.</p>
                <div class="correo-about">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.2rem" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                    <p><b>Correo:</b> psicologicos642@gmail.com</p>
                </div>
            </div>
            <form action="/Correo" method="POST" class="form-suggest">
                <h2>Sugerencias</h2>
                <input type="text" name="nombre_sug" placeholder="Nombre" required>
                <input type="email" name="correo_sug" placeholder="Correo" required>
                <textarea name="mensaje_sug" id="" rows="5" placeholder="Mensaje" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </section>
        <section class="copy-content-container">
            <div>
                <p>Copyright © 2023 - Todos los derechos reservados.</p>
            </div>
        </section>
    </footer>
    {% block script %}
    {% endblock %}
</body>
</html>