<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png')}}">
    <title>Griela Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LogRegStyle.css')}}"/>
    {% block link %}
    {% endblock %}
</head>
<body>
    <article class="logo-ilustracion-container">
        <section>
            <a href="/Inicio" class="logo">
                <p class="griela">Griela</p>
                <p class="test">TEST</p>
            </a>
            <figure>
                {% block img %}
                {% endblock %}
            </figure>
        </section>
    </article>
    <article class="form-container">
        {% block section %}
        {% endblock %}
    </article>
</body>
{% block script%}
{% endblock %}
</html>