{%extends 'LogRegLayout.html'%}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/RegisterStyle.css')}}"/>
{% endblock %}

{% block img %}
<img src="/static/img/ilustracion-register.png" alt="" width="500px">         
{% endblock %}

{% block section %}
<section class="register-form-container">
    <h1>Registrarse</h1>
    <form action="/Register" method="POST">
        <div class="input-label-container">
            <label for="nombre">Nombre</label>
            <div class="input-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.2rem" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                <input type="text" id="nombre" name="nombre" placeholder="Ingresar nombre" required>
            </div>
        </div>
        <div class="row-form-container">
            <div class="input-label-container">
                <label for="nacimiento">Fecha de nacimiento</label>
                <input type="date" id="nacimiento" name="nacimiento" required>
            </div>
            <div class="input-label-container genero-container">
                <label for="">Género</label>
                <div class="input-container">
                    <input type="text" name="genero" class="select-genero" id="input-genero" readonly required placeholder="Seleccionar">
                    <svg xmlns="http://www.w3.org/2000/svg" class="genero-svg" id="genero-svg" height="16" width="16" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                </div>
                <div class="genero-options" id="genero-options">
                    <li onclick="SelectOpt(this)">Masculino</li>
                    <li onclick="SelectOpt(this)">Femenino</li>
                </div>
            </div>
        </div>
        <div class="input-label-container">
            <label for="correo">Correo</label>
            <div class="input-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.2rem" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                <input type="email" id="correo" name="correo" placeholder="Ingresar correo" required>
            </div>
        </div>
        <div class="input-label-container">
            <label for="contra">Contraseña</label>
            <div class="input-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.2rem" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
                <input type="password" id="contra" name="contra" placeholder="Ingresar contraseña" required>
                <img src="/static/img/eye-show.svg" alt="" height="18px" class="show-contra" onclick="ShowPassword()" id="show">
            </div>
        </div>
        <button type="submit">Registrarse</button>
    </form>
    <div class="content-container">
        <p>¿Ya tienes una cuenta?</p>
        <a href="/Login">Ingresar</a>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="message-container">
            <div>
                <input type="radio" name="close-message" id="close-message">
                <label for="close-message" class="close-message">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.1rem" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                </label>
            </div>
            <h3>{{ message }}</h3>
        </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
</section>      
{% endblock %}

{% block script%}
<script type="text/javascript" src="{{ url_for('static', filename='js/ShowPassword.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/SelectRegister.js')}}"></script>
{% endblock %}