{%extends 'Layout.html'%}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ResultView.css')}}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.js" integrity="sha512-7DgGWBKHddtgZ9Cgu8aGfJXvgcVv4SWSESomRtghob4k4orCBUTSRQ4s5SaC2Rz+OptMqNk0aHHsaUBk6fzIXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}
<main>
    <article class="resultados-container">
        <h1>Tus resultados</h1>
        <section class="block">
           <div class="informacion-container">
                <div>
                    <h2>Información personal</h2>
                    <table class="table-informacion">
                        <tr>
                            <th>Nombre</th>
                            {% if loged %}
                            <td id="nombre-resultado">{{nombre}}</td>
                            {% else %}
                            <td id="nombre-resultado">Usuario sin registrar</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Fecha de nacimiento</th>
                            <td id="nacimiento-resultado">{{datos.nacimiento}}</td>
                        </tr>
                        <tr>
                            <th>Género</th>
                            <td id="genero-resultado">{{datos.genero}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h2>Información del test</h2>
                    <table>
                        <tr>
                            <th>Test</th>
                            <td>Depression Anxiety and Stress Scales - Youth version</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td id="fecha-resultado">{{datos.fecha}}</td>
                        </tr>
                        <tr>
                            <th>Tiempo</th>
                            <td id="tiempo-resultado">{{datos.tiempo}}</td>
                        </tr>
                    </table>
                </div>
           </div>
            <div>
                <h2>Resultados</h2>
                <div class="resultados-grafica-container">
                    <table>
                        <tr>
                            <td></td>
                            <th>Puntuación</th>
                            <th>Percentil</th>
                        </tr>
                        <tr>
                            <th>Depresión</th>
                            <td id="depresion-puntaje">{{puntajes.depresion}}</td>
                            <td id="depresion-percentil">{{percentiles.depresion}}</td>
                        </tr>
                        <tr>
                            <th>Ansiedad</th>
                            <td id="ansiedad-puntaje">{{puntajes.ansiedad}}</td>
                            <td id="ansiedad-percentil">{{percentiles.ansiedad}}</td>
                        </tr>
                        <tr>
                            <th>Estres</th>
                            <td id="estres-puntaje">{{puntajes.estres}}</td>
                            <td id="estres-percentil">{{percentiles.estres}}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td id="total">{{puntajes.total}}</td>
                            <td>-</td>
                        </tr>
                    </table>
                    <canvas id="grafica"></canvas>
                </div>
            </div>
            <div>
                <h2>Recomendaciones</h2>
                <h3 id="texto" value="">{{texto | safe}}</h3>
            </div>
            <div>
                <h2>Respuestas</h2>
                <table>
                    <tr>
                        <th width="320px">¿Qué hiciste esta última semana?</th>
                        <td id="abierta-resultado">{{preg_abierta}}</td>
                    </tr>
                </table>
                <table class="tabla-preguntas">
                    <tr>
                        <th>N°</th>
                        <th>Preguntas</th>
                        <th>Nunca</th>
                        <th>Casi nunca</th>
                        <th>Casi siempre</th>
                        <th>Siempre</th>
                    </tr>
                    {% for pregunta, respuesta in respuestas %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ pregunta }}</td>
                        <td class='{{ "marcado" if respuesta == "0"}}'>0</td>
                        <td class='{{ "marcado" if respuesta == "1"}}'>1</td>
                        <td class='{{ "marcado" if respuesta == "2"}}'>2</td>
                        <td class='{{ "marcado" if respuesta == "3"}}'>3</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
        <a href="/Dashboard" class="volver-boton">Volver</a>
    </article>
</main>
{% endblock %}

{% block script %}
<script>
    var columnas = [parseInt("{{percentiles.depresion}}",10), parseInt("{{percentiles.ansiedad}}",10), parseInt("{{percentiles.estres}}",10) ]
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/GraficoCanvas.js')}}"></script>
{% endblock %}