.dashboard-container {
    margin: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.dashboard-container-no-test{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-no-test-container{
    width: 500px;
}

.block-no-test{
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;

    & h2{
        color: var(--orange-color);
        font-size: 1.8rem;
    }

    & h3{
        color: var(--dark-blue-color);
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.block {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    
    box-shadow: 5px 5px 20px 1px rgba(142, 148, 159, 0.2);
}

.block-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: var(--dark-blue-color);

    & .bar{
        border-radius: 2px;
        height: 4px;
        width: 100%;
        background-color: var(--orange-color);
    }
    
    & h3{
        color: var(--gray-color);
    }
}

.historial-container{
    grid-row: span 2;
}

.resultados-container{
    grid-column: span 2;
}
