main {
    width: 100%;
    background-color: var(--white-color);
    padding-top: 104px;

    & article {
        padding: 80px 0px;
        width: 70%;
        margin: auto;
    }
}

h1 {
    color: var(--dark-blue-color);
    font-size: 2.5rem;
    text-align: center;
}

.block {
    background-color: white;
    padding: 30px;
    border-radius: 30px;

    box-shadow: 5px 5px 20px 1px rgba(142, 148, 159, 0.2);

    display: flex;
    flex-direction: column;
    gap: 30px;

    & h2 {
        font-size: 1.5rem;
        color: var(--orange-color);
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.informacion-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 30px !important;

    & div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

table {
    width: 100%;
    border-color: var(--gray-color);

    font-size: 1.1rem;
    color: var(--dark-blue-color);

    & th {
        text-align: start;
    }
}

table,
th,
td {
    border: 1px solid var(--gray-color);
    border-collapse: collapse;
}

th, td{
    padding: 5px 10px;
}

.resultados-grafica-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#grafica{
    width: 100% !important;
    height: 100% !important;
}

.table-informacion th {
    width: 200px;
}

.tabla-preguntas{
    & td:nth-of-type(1){
        text-align: center;
    }

    & th:nth-of-type(3), th:nth-of-type(4), th:nth-of-type(5), th:nth-of-type(6){
        font-size: 0.9rem;
        text-align: center;
    }

    & td:nth-of-type(3), td:nth-of-type(4), td:nth-of-type(5), td:nth-of-type(6){
        width: 100px;
        text-align: center;
    }
}

.marcado {
    background-color: var(--orange-color);
    color: var(--white-color);
    font-weight: 500;
}

.resultados-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.volver-boton{
    align-self: flex-end;
    color: var(--white-color);
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--orange-color);
    border-radius: 30px;
    transition: 0.3s;

    &:hover{
        background-color: var(--dark-orange-color);
    }
}