.login-form-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-container{
    display: flex;
    flex-direction: row;
    gap: 10px;

    & p{
        font-size: 1.1rem;
        color: var(--dark-blue-color);
    }

    & a{
        text-decoration: none;
        font-size: 1.1rem;
        color: var(--orange-color);
        border-bottom: solid 2px var(--orange-color);
        transition: 0.3s;

        &:hover{
            color: var(--dark-orange-color);
            border-color: var(--dark-orange-color);
        }
    }
}