body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F2F5FD;
    height: 100vh;
}

.logo-ilustracion-container {
    background-color: #293241;
    padding: 100px;

    & > section {
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.griela {
    height: 40px;
    color: #F2F5FD;
    font-size: 2.5rem;
    font-weight: 600;
}

.test {
    color: #ee6c4d;
    font-size: 2.1rem;
    font-weight: 400;
}

.form-container {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    color: #ee6c4d;
}

.input-label-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: solid 2px #293241;
    width: 500px;

    & label {
        font-size: 1.2rem;
        font-weight: 500;
        color: #293241;
    }

    & input {
        width: 100%;
        border: none;
        font-size: 1.2rem;
        font-weight: 500;
        color: #293241;
        outline: none;
        background-color: transparent;
        padding: 5px;

        &::placeholder {
            color: #293241;
        }
    }
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;

    & svg{
        fill: #293241;
    }
}

button {
    border: none;
    padding: 15px;
    background-color: #ee6c4d;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: #F2F5FD;
    transition: 0.5s;
    border-radius: 30px;

    &:hover{
        background-color: #ea481f;
    }
}

.show-contra{
    cursor: pointer;
}
