main{
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    background-color: var(--white-color);
}

.divisor{
    height: 2px;
    width: 100%;
    border-radius: 2px;
    margin: 40px auto;
    background-color: var(--orange-color);
}

.sidebar-container{
    background-color: var(--dark-blue-color);
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 1fr auto;
}

.logo {
    align-self: center;
    display: flex;
    flex-direction: column;

    & .griela {
        height: 35px;
        color: var(--white-color);
        font-size: 2rem;
        font-weight: 600;
    }

    & .test {
        color: var(--orange-color);
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.user-figure{
    background-color: var(--white-color);
    border-radius: 50%;
    overflow: hidden;
    height: 140px;
    width: 140px;

    & svg{
        padding: 15px;
        fill: var(--orange-color);
    }
}

.user-name{
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.user-mail{
    color: var(--gray-color);
    font-size: 1rem;
    font-weight: 400;
}


.nuevo-test-container{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & a{
        text-decoration:none;
        width: 100%;
        background-color: var(--orange-color);
        width: 100%;
        border: none;
        outline: none;
        padding: 10px 0px;
        border-radius: 30px;

        font-size: 1.2rem;
        font-weight: 600;
        color: var(--white-color);

        cursor: pointer;
        transition: 0.3s;

        &:hover{
            background-color: var(--dark-orange-color);
        }
    }
}

.logout-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.2rem;
    transition: 0.3s;
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
        content: "";
        position: absolute;
        background-color: var(--orange-color);
        height: 4px;
        width: 100%;
        left: 0;
        bottom: -4px;
        border-radius: 2px;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
    }

    &:hover{
        color: var(--orange-color);

        & svg {
            fill: var(--orange-color);
        }
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    & svg{
        transition: 0.3s;
        height: 1.2rem;
        fill: var(--white-color);
    }
}